/* style page */
body { 
  font: 14px/2 Georgia, serif; 
}

#page-wrap { 
  max-width: 500px; 
  margin: 1rem auto;
  padding: 1rem;
}

h1, h2 {
  line-height: 1.2;
}

p, ul, h1 { 
  margin: 0 0 1rem 0; 
}
.nav-main {
	background-color: rgba(60,58,108, .7);
	position: fixed;
	width: 100%;
	margin-bottom: 2%;
	z-index: 10;
}
#dash-hero  {
	background-image: url('logoImages/FTC-wht-wide.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
	padding-top: 5%;
	background-color: #fff;

}
#nav-logo{
	width: 2em;
}

.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}