/* style page */

.nav-main {
	background-color: rgba(60,58,108, .7);
	position: fixed;
	width: 100%;
	margin-bottom: 2%;
	z-index: 10;
}
.dash-content{
	width: 100%;
	position: absolute;
}
#homeLogo{
	width: 100%;
	z-index: 20;
	margin-top: 5%;
	position: absolute;
}	
#homeLogo2{
	width: 100%;
	z-index: 20;
	margin-top: 5%;
	position: absolute;
}	
.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#nav-logo{
	width: 2em;
}
